.section-title {
    margin-bottom: 2rem;
}

.form-wrapper {
    display: grid;
    justify-content: center;

    min-height: calc(100vh - 148px);
}

.form-wrapper-add-task {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    min-height: calc(100vh - 148px);
}
.add-form {
    width: 400px;
}

.form-input {
    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.3);
    background: var(--container-color);
    color: var(--text-color-dark);
    outline: none;
    // border: none;
    border-radius: 0.2rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-size: 17px;
    font-family: "Exo 2", sans-serif;
}

.textarea {
    resize: none;
}

.btn {
    padding: 0.7rem 1.2rem;
    color: var(--text-color-dark);
    background: var(--tertiary);
    border-radius: 3px;
    border: none;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover {
    background: var(--tertiary-lite);
}
.btn-secondary {
    padding: 0.5rem 1rem;
    color: var(--text-color-dark);
    background: var(--mini-nav);
    border-radius: 3px;
    border: none;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}
.active-work {
    background: var(--tertiary-lite);
}
// .btn-secondary:hover {
//     background: var(--tertiary);
// }
@media screen and (max-width: 768px) {
    .form-wrapper {
        padding-top: 12rem;
    }
}

@media screen and (max-width: 576px) {
    .add-form {
        width: 100%;
    }
}
