.myTasks-section {
    display: flex;

    justify-content: center;
    min-height: calc(100vh - 148px);
}

.box-wrapper {
    width: 400px;
}
.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-left: 2px solid var(--tertiary);
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    /* // border: 2px solid rgba(0, 0, 0, 0.3); */
    background: var(--container-color);
    color: var(--text-color-dark);
    outline: none;
    /* // border: none; */
    /* border-radius: 0.75rem; */
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-size: 17px;
    font-family: "Exo 2", sans-serif;
}

.icon {
    cursor: pointer;
    font-size: 30px;
    columns: var(--tertiary);
}

@media screen and (max-width: 768px) {
    .myTasks-section {
        padding-top: 7rem;
    }
}
